// Colors

$black:					#222;

$blue:					#0088cd;
$blue--darker:			#254087;

$gray:					#f0f0f0;
$gray--darker:			#e4e4e4;

$orange:				#ce5d3c;

$pink:					#c4007a;

$purple:				#711e72;

$red:					#c40050;

$yellow:				#e4a81a;


$color-page-background:	white;
