// Fonts

$text:				'Open Sans', sans-serif;
$header:			'Novecentosanswide';


// Font weights

$regular:			400;
$bold:				700;
$medium:			500;
$book:				300;
$extrabold:			800;

// Default

$base-font-size:	20;
$grid-base-width:	1180;


// RWD
