.o-regular {
	p {
		margin-bottom: 2em;
		font-size: em(16);
	}
	
	strong {
		text-transform: uppercase;
	}
	
	&__content {
		float: left;
		width: grid(800);
		
		&--full {
			float: none;
			width: 100%;
		}
		
		@media screen and ( max-width: 900px ) {
			float: none;
			width: 100%;
		}
	}
}