// Background color

.u-bg-black {
	background-color: $black;
	color: white;
}

.u-bg-blue {
	background-color: $blue;
}

.u-bg-gray {
	background-color: $gray;
}

.u-bg-orange {
	background-color: $orange;
}

.u-bg-pink {
	background-color: $pink;
}

.u-bg-purple {
	background-color: $purple;
}

.u-bg-red {
	background-color: $red;
}

.u-bg-yellow {
	background-color: $yellow;
}


// Border color

.u-border-blue {
	border-color: $blue;
}

.u-border-purple {
	border-color: $yellow;
}

.u-border-red {
	border-color: $red;
}

.u-border-yellow {
	border-color: $yellow;
}


// Text color

.u-color-blue {
	color: $blue;
}

.u-color-blue--darker {
	color: $blue--darker;
}

.u-color-red {
	color: $red;
}

.u-color-yellow {
	color: $yellow;
}