[class^="icon-"], [class*=" icon-"] {
	@include icomoon;
}

.u-align-center {
	text-align: center;
}

.u-buffer {
	margin-bottom: 50px;
	
	@media screen and ( max-width: 960px ) {
		margin-bottom: 25px;
	}
	
	&--half {
		margin-bottom: 25px;
	}
	
	&--double {
		margin-bottom: 100px;
		
		@media screen and ( max-width: 480px ) {
			margin-bottom: 50px;
		}
		
	}
}

.u-float--left {
	float: left;
}

.u-float--right {
	float: right;
}

.u-nopadding {
	padding: 0 !important;
}

.u-posy {
	@include scut-center-transform(y);
}

.u-3-cols {
	@media screen and ( min-width: 601px ) {
		@include column-count(3);
		@include column-gap(50px);
	}

	@media screen and ( min-width: 601px ) and ( max-width: 900px ) {
		@include column-count(2);
	}		
}

.u-blur,
.o-layout {
	@include hover;
	@include transition-duration(1000ms);

	.is-blurred & {
		//@include filter( grayscale(50%) blur(10px) );
		@include filter( blur(10px) );
		@include transform(scale(1.01));
	}
}

.no-overflow {
	overflow: hidden;
}

.blog,
.single {
	background: {
		image: url(../img/top/map.png);
		repeat: no-repeat;
		position: center;
	}
}

.safari {
	* {
		-webkit-backface-visibility: hidden;
		-webkit-transform-style: preserve-3d;
	}
}

.yarpp-related {
	margin: 0 !important;
}

a { 
	&:active,
	&:focus {
		-webkit-tap-highlight-color: rgba(0,0,0,0) !important;
	}
}





.case {
    margin-top: 50px;
}

.mail {
    border: 1px solid white;
    padding: 20px;
}

.light {
    font-weight: 300;
}

.font-green {
    color:#2B913B;
}

.font-pink {
    color:#C40046;
    font-weight:600;
}

.lead-landing {
    font-size: 2.7em;
    margin-bottom: 20px;
    text-align: center;
    
    @media screen and ( max-width: 1024px ) {
		font-size: em(40);
    }
    
    @media screen and ( max-width: 768px ) {
		font-size: em(36);
    }
    
    @media screen and ( max-width: 375px ) {
		font-size: em(30);
    }
}

.sublead-landing {
    margin-bottom: 30px;
    padding-top: 10px;
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 300;
    text-align: center;
}

.space {
    padding-top: 30px;
}

p.lista {
    margin-left: 20px;
	font: {
		size: .8em;
		weight: 300;
	}
}

textarea.malutki {
	height: 70px;
	background-color: #f2f2f2;
	font-size: 0.55em;
}

