.c-case-study {
	position: relative;

	h5 {
		margin-bottom: 15px;
	}	

	p {
		font-size: em(16);
	}
	
	a {
		&:hover {
			.o-media {
				@include opacity(.8);
			}
			
			h5 {
				color: $red;
			}
		}
	}
	
	&--big {
		min-height: 680px;
	}
	
	&__bigimage {
		position: absolute;
		right: 0; top: 0;
		width: grid(1150, 1920);
		height: 100%;
		overflow: hidden;
		
		img {
			position: absolute;
			left: 50%;
			top: 50%;
			height: 100%;
			width: auto;
			-webkit-transform: translate(-50%,-50%);
			-ms-transform: translate(-50%,-50%);
			transform: translate(-50%,-50%);
		}
	}
	
	&__excerpt {
		float: left;
		position: relative; z-index: 10;
		width: grid(770, 1920);
		padding: {
			left: calc((100% - 1180px)/2);
			right: 40px;
		}		
	}
	
	
	&__item {
		display: inline-block;
		width: grid(390);
		padding: 0 grid(45);
		text-align: left;
		
		.o-media {
			margin-bottom: 35px;
		}
	}
	
	@media screen and ( max-width: $grid-base-width+px ) {
		article {
			padding-left: 15px;
		}
	}
	
	
	@media screen and ( max-width: 940px ) {
	
		&__bigimage {
			width: 100%;
		}
	
		&__excerpt {
			background-color: rgba(white, .9);
		}
	
		&__item {
			width: auto;
			max-width: 390px;
			margin-bottom: 40px;
			padding: 0 grid(25, 940);
			text-align: center;
			
			.o-media {
				width: 100%;
			}

			&:nth-child(3n) {
				margin-bottom: 0;
			}
		}
	}

	@media screen and ( max-width: 768px ) {
		
		&__bigimage {
			position: relative;
			right: auto; top: auto;
			height: 400px;
		}
		
		&__excerpt {
			float: none;
			width: 100%;
			padding-top: 60px;
		}
		
	}
	
	@media screen and ( max-width: 480px ) {
		&__item {
			padding: 0;
		}
	}
	
}