.c-circles {	
	&__content {
		margin: 0 auto;
	}

	&__icon {
		@include border-radius( 50% );
		display: block;
		margin: 0 auto 30px auto;
		color: white;		
	}	

	&__item {
		float: left;
		width: grid(390);	
		
		&:nth-child(3n+1) {
			clear: left;
		}
	}
	
	&__lead {
		margin-bottom: 1em;
	}
	
	&__text {
		font-size: em(16);
	}

	&--small {
		.c-circles__icon {
			width: 118px; height: 118px;
			line-height: 118px;
			font-size: em(118);
		}

		.c-circles__item {
			padding: 0 20px;
		}
	}

	&--big {
		.c-circles__icon {
			width: 166px; height: 166px;
			border: {
				width: 6px;
				style: solid;
			}
			line-height: 150px;
			font-size: em(72);
			
			&.icon-social, {
				font-size: em(80);
			}
		}
		
		.c-circles__item {
			padding: 0 grid(60);
		}
	}
	
	@media screen and ( max-width: 768px ) {
		&--big {
			.c-circles__item {				
				&:first-child {
					padding-left: 0;
				}
				
				&:last-child {
					padding-right: 0;
				}
			}
		}
	}
	
	@media screen and ( max-width: 640px ) {
		&__item {
			float: none;
			display: inline-block;
			width: 48%;
			vertical-align: top;
			
			&:nth-child(2n) {
				margin-bottom: 40px;
			}

			&:nth-child(2n+1) {
				clear: left;
			}
		}

		&__lead {
			font-size: em(16);
		}
		
		&__text {
			font-size: em(14);
		}

		&--big {
			.c-circles__icon {
				width: 126px; height: 126px;
				border: {
					width: 6px;
					style: solid;
				}
				line-height: 110px;
				font-size: em(52);

				&.icon-social, {
					font-size: em(70);
				}
			}
		}
	}
	
	@media screen and ( max-width: 425px ) {
		&__item {
			width: 100%;
			margin-bottom: 40px;
		}
	}
}
