.c-form {
	input, textarea {
		background-color: white;
		padding: 0 20px;
		font-size: em(14);
		color: $black;
	}

	input {
		height: 50px;
	}
	
	textarea {
		height: 160px;
		padding: 20px;
	}

	&__item {
		.c-contact-form & {
			margin-bottom: 30px;
		}

		.c-order & {
			float: left;
			width: grid(300);
			margin-right: grid(20);
		}
		
		&--submit {
			.c-order & {
				width: auto;
			}			
		}
	}

	&--small {
	
		@include input-placeholder {
			color: #949494;
		}
		
		input {
			height: 35px;
			background-color: #f2f2f2;
			font-size: em(11);
		}
		
		.c-form__item {
			margin-bottom: 10px;
			
			&--submit {
				margin-bottom: 30px;
				padding-top: 10px;		
			}
		}
	}

	@media screen and ( max-width: 768px ) {				
		&__item {
			.c-order & {
				float: none;
				width: auto;
				max-width: 300px;
				margin: 0 auto 20px auto;
			}			

			&--submit {
				margin: 0 auto;
			}
		}	
		
		.o-btn {
			width: 100%;
		}		
	}
}


