@keyframes show_submenu {
	0% {
		@include opacity(0);
		@include transform(translateY(-20px));
	}

	100% {
		@include opacity(1);
		@include transform(translateY(0));
	}
}


.c-nav-primary {	
	//position: relative;
	z-index: 5;
	//float: right;
	margin-top: -20px;
	
	.is-scrolling & {
		//margin-top: -20px;
	}

	a {
		position: relative;
		display: block;
		text-transform: uppercase;
		font: {
			size: em(15);
			weight: $medium;
		}
	}
	
	> ul > li {
		@include hover;
		position: relative;
		
		> &:last-child {
			padding-right: 0;
		}

		&.active {
			a {
				color: white;

				&:after {
					background-color: $black;
				}
			}
		}

		i {
			margin-right: 5px;
		}		
	}

	.sub-menu {
		display: none;
		text-align: right;
		
		li {
			float: none;
		}
		
		a {
			padding: 8px 20px;
			font-size: 12px;		
		}
	}

	@media screen and ( min-width: 941px ) {
		@include scut-center-transform(y);
		right: 0;
		
		> ul > li {
			float: left;
		
			> a {
				overflow: hidden;
				height: 120px;
				line-height: 120px;
				padding: 0 22px;
				
				.is-scrolling & {
					height: 70px;
					line-height: 70px;
				}
				
				&:hover {
					color: $red;
				}
			}

			&:hover {
				> a {
					color: $red;
				}
				
				.sub-menu {
					display: block;
					-webkit-animation: show_submenu .4s;
				       -moz-animation: show_submenu .4s;
				        -ms-animation: show_submenu .4s;
				         -o-animation: show_submenu .4s;
				            animation: show_submenu .4s;
				}
			}
		}
		
		.sub-menu {
			position: absolute;
			right: 0; top: 120px;
			background-color: #333;
			border-top: 2px solid $red;
			
			.is-scrolling & {
				top: 70px;
			}
			
			a {
				white-space: nowrap;
				color: rgba(white, .8);
				
				&:hover {
					.desktop & {
						color: white;
					}
				}
			}
			
			li {
				&:first-child {
					a {
						padding-top: 10px;
					}
				}
				
				&:last-child {
					a {
						padding-bottom: 10px;
					}
				}
			}
		}
	}
	
	@media screen and ( max-width: 940px ) {
		@include box-shadow(rgba(0,0,0,.2) 0 2px 30px);
		position: fixed;
		top: 20px; right: -240px;
		display: none;
		height: 100%;
		width: 280px;
		background-color: rgba(255,255,255,0.9);
		padding: 90px 60px 20px 20px;
		overflow: scroll;
		-webkit-overflow-scrolling: touch;
		
		.is-scrolling & {
			padding-top: 60px;
		}

		li {
			float: none;
			border-bottom: 1px solid #ddd;
			
			&:last-child {
				border-bottom: none;
			}
			
			a {
				padding: 8px 0;
				font-weight: $medium;
			}
		}
		
		.sub-menu {
			a {
				padding-right: 0;
			}
		}
	}
}



