.c-pagination {
	@include flexbox;
	@include justify-content(space-between);

	a {
		@include border-radius(50px);
		@include transition-property(all);
		@include transition-duration(60ms);
		display: inline-block;
		position: relative;
		display: inline-block;
		color: white;
		white-space: nowrap;
		
		height: 50px;
		line-height: 50px;
		text-transform: uppercase;
		padding: 0 50px;
		font: {
			size: 16px;
			weight: $bold;
		}
		
		background-color: $red;
		
		&:hover {
			background-color: lighten($red, 10%);
		}
		
		@media screen and ( max-width: 640px ) {
			height: 38px;
			line-height: 38px;
			padding: 0 20px;
			font: {
				size: 12px;
			}
		}
		
		@media screen and ( max-width: 375px ) {
			padding: 0 10px;
			font: {
				size: 10px;
			}
		}
	}
}