.c-side-form {	
	@include box-shadow( rgba(0,0,0,.1) 0 4px 8px );
	float: right;
	width: 300px;
	background-color: white;
	padding: 40px 20px;
	border-top: 10px solid $red;
	
	p {
		margin-bottom: 0;
		font-size: em(13);
	}
	
	&__lead {
		margin-bottom: 20px;
		font-weight: $bold;
	}
	
	&__sublead {
		margin-bottom: 20px;
	}
}


