.c-side-form {	
	@include box-shadow( rgba(0,0,0,.1) 0 4px 8px );
	float: right;
	width: grid(300);
	background-color: white;
	padding: 40px 20px;
	border-top: 10px solid $red;
	
	p {
		font-size: em(13);
	}
	
	&__lead {
		margin-bottom: 20px;
		font-weight: $bold;
	}
	
	&__sublead {
		margin-bottom: 20px;
	}
	
	@media screen and ( max-width: 900px ) {
		float: none;
		width: auto;
		max-width: 300px;
		margin: 60px auto 0 auto;
	}
	
}


