.c-topline {
	position: fixed;
	left: 0; top: 0; z-index: 30;
	width: 100%;
	padding: 20px 0 0 0;
	
	&.is-scrolling {
		@include hover;
		z-index: 30;
		height: 70px;
		background-color: white;

		.c-logo {
			width: 200px;
		}
		
		.is-blurred & {
			background-color: transparent;
		}
	}
}