body {
	@include antialias;
	line-height: 1.5;
	font: {
		family: $text;
		size: #{$base-font-size}px;
		weight: $regular;
	}
	color: $black;
}

a { 
	@include hover;
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}


br {

	@media screen and ( max-width: 480px ) {
		display: none;
	}
}

strong {
	font-weight: $extrabold;
}